@font-face {
    font-family: "PT Sans";
    src: url("../../../public/fonts/PTSans-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../../../public/fonts/PTSans-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../../../public/fonts/PTSans-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "PT Sans";
    src: url("../../../public/fonts/PTSans-BoldItalic.ttf");
    font-style: italic;
    font-weight: bold;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: "PT Sans";
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

#root {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    background-color: #F5F9FC;
}

@import "./AdaptiveImage.scss";
@import "./Button.scss";
@import "./Card.scss";
@import "./Checkbox.scss";
@import "./Col.scss";
@import "./DropdownMenu.scss";
@import "./ErrorText.scss";
@import "./Field.scss";
@import "./FileLoader.scss";
@import "./Loader.scss";
@import "./Paginator.scss";
@import "./PhotoLoader.scss";
@import "./Row.scss";
@import "./Select.scss";
@import "./Table.scss";
@import "./Tabs.scss";
@import "./Textarea.scss";